indicator
# no-unlock-indicator
# daemonize
indicator-caps-lock
# datestr=%A
#image=$HOME/.config/home-manager/confs/styles/wallpapers/nord-hald3.jpg
scaling=fill
# color=00000000
screenshots
clock
effect-blur=12x12
effect-vignette=0.5:0.5:0.5:0.5:0
font=UbuntuMono
font-size=20
# fade-in=0.5

# Ring
indicator-radius=150
# line-uses-ring
line-color=#181825
text-color=#cdd6f4
inside-color=#11111b
inside-ver-color=#11111b
line-ver-color=#585b70
ring-ver-color=#1e1e2e
ring-color=#313244
key-hl-color=#cba6f7
separator-color=#a6e3a1
layout-text-color=#a6e3a1
line-wrong-color=#a6e3a1
