[Desktop Entry]
Name=VSCodium  (on Ubuntu)
Comment=Code Editing. Redefined.
GenericName=Text Editor  (on Ubuntu)
Exec=/home/theloremaster/.nix-profile/bin/distrobox-enter  -n Ubuntu --   /usr/share/codium/codium --unity-launch  %F
Icon=vscodium
Type=Application
StartupNotify=false
StartupWMClass=VSCodium
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-codium-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window  (on Ubuntu)
Exec=/home/theloremaster/.nix-profile/bin/distrobox-enter  -n Ubuntu --   /usr/share/codium/codium --new-window  %F
Icon=vscodium
