[Desktop Entry]
Name=Ubuntu
GenericName=Terminal entering Ubuntu
Comment=Terminal entering Ubuntu
Categories=Distrobox;System;Utility
Exec=/nix/store/xbbjn41qbp93bkl62f4wrmrj89k3cz3v-distrobox-1.5.0.2/bin/distrobox enter  Ubuntu
Icon=/home/theloremaster/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/nix/store/xbbjn41qbp93bkl62f4wrmrj89k3cz3v-distrobox-1.5.0.2/bin/distrobox
Type=Application
